Repository zino-hofmann/graphql-flutter, pull requests merged in 2021-12, with the labels that each got.

#984 ci: Migration to github actions
  .circleci/config.yml
  .github/workflows/graphql_build.yml
  .github/workflows/graphql_codcoverage.yml
  .github/workflows/graphql_flutter_build.yml
  .github/workflows/graphql_flutter_codcoverage.yml
  .github/workflows/release.yml
  packages/graphql/lib/src/core/_base_options.dart
  packages/graphql/lib/src/core/_query_write_handling.dart
  packages/graphql/lib/src/core/fetch_more.dart
  packages/graphql/lib/src/core/observable_query.dart
  packages/graphql/lib/src/core/query_options.dart
  packages/graphql/lib/src/core/query_result.dart
  packages/graphql/lib/src/exceptions/exceptions.dart
  packages/graphql/lib/src/exceptions/exceptions_next.dart
  packages/graphql/lib/src/links/auth_link.dart
  packages/graphql/pubspec.yaml
  packages/graphql/test/anonymous_operations_test.dart
  packages/graphql/test/cache/store_test.dart
  packages/graphql/test/coverage.dart
  packages/graphql/test/fetch_policy_test.dart
  packages/graphql/test/graphql_client_test.dart
  packages/graphql/test/websocket_test.dart
  packages/graphql_flutter/example/lib/graphql_bloc/bloc.dart
  packages/graphql_flutter/lib/src/hive_init.dart
  packages/graphql_flutter/lib/src/widgets/graphql_provider.dart
  packages/graphql_flutter/lib/src/widgets/subscription.dart
  packages/graphql_flutter/test/widgets/query_test.dart
Labels: :beginner: ci/cd

#995 ci: Formatting workflow file, and fixed regression
  .github/workflows/graphql_build.yml
  .github/workflows/graphql_codcoverage.yml
  .github/workflows/graphql_flutter_build.yml
  .github/workflows/graphql_flutter_codcoverage.yml
Labels: :beginner: ci/cd

#996 example: update starwars demo, and refactoring code base with a new s…
  examples/flutter_bloc/Makefile
  examples/flutter_bloc/lib/bloc.dart
  examples/starwars/Makefile
  examples/starwars/README.md
  examples/starwars/android/app/build.gradle
  examples/starwars/android/app/src/main/AndroidManifest.xml
  examples/starwars/android/app/src/main/java/com/example/starwars/MainActivity.java
  examples/starwars/android/app/src/main/res/values/styles.xml
  examples/starwars/lib/generated_plugin_registrant.dart
  examples/starwars/lib/main.dart
  examples/starwars/lib/model/episode/episode.dart
  examples/starwars/lib/model/review/review.dart
  examples/starwars/lib/utils/graphql_provider.dart
  examples/starwars/lib/view/client/graphql_view.dart
  examples/starwars/lib/view/episode/episode_page.dart
  examples/starwars/lib/view/episode/hero_query.dart
  examples/starwars/lib/view/review/review_page.dart
  examples/starwars/lib/view/review/review_page_list.dart
  examples/starwars/lib/view/review/review_subscription.dart
  examples/starwars/lib/view/review/review_view.dart
Labels: :bullettrain_side: doc & examples

#998 Add necessary import to GraphQL Upload example
  packages/graphql/README.md
Labels: :bookmark_tabs: docs

#963 Fix websocket disconnect after connection loss
  packages/graphql/lib/src/links/websocket_link/websocket_client.dart
  packages/graphql/lib/src/utilities/platform.dart
  packages/graphql/lib/src/utilities/platform_html.dart
  packages/graphql/lib/src/utilities/platform_io.dart
  packages/graphql/lib/src/utilities/platform_stub.dart
Labels: dart client, :recycle: required rebase

#999 fixed the gql dependecens due the breaking changes
  .circleci/config.yml
  .github/workflows/graphql_flutter_tests.yml
  .github/workflows/graphql_tests.yml
  README.md
  packages/graphql/pubspec.yaml
  packages/graphql_flutter/pubspec.yaml
Labels: flutter, dart client, :syringe: dependences
