Repository zino-hofmann/graphql-flutter, pull requests merged in 2022-05, with the labels that each got.

#1060 Add support for graphql-transport-ws protocol
  packages/graphql/lib/src/links/websocket_link/websocket_client.dart
  packages/graphql/lib/src/links/websocket_link/websocket_link.dart
  packages/graphql/lib/src/links/websocket_link/websocket_messages.dart
Labels: enhancement, :zap: websocket, Priority: High

#1133 ci: fixed CI to continue to use flutter 2.x
  .github/workflows/graphql_flutter_build.yml
  .github/workflows/graphql_flutter_codcoverage.yml
  .github/workflows/graphql_flutter_tests.yml
  .github/workflows/packages_build.yml
Labels: flutter

#1132 prepare version v5.1.2-beta.1 of graphql client
  packages/graphql/CHANGELOG.md
  packages/graphql/changelog.json
  packages/graphql/pubspec.yaml
Labels: released on @beta

#1143 feat(graphql_flutter): support flutter 3.0 and 2.x
  .github/workflows/graphql_flutter_build.yml
  examples/starwars/pubspec.yaml
  packages/graphql_flutter/lib/src/widgets/cache_provider.dart
Labels: flutter

#1144 prepare version 5.1.1-beta.3
  examples/starwars/lib/generated_plugin_registrant.dart
  packages/graphql_flutter/CHANGELOG.md
  packages/graphql_flutter/changelog.json
  packages/graphql_flutter/pubspec.yaml
Labels: flutter

#1145 fix(graphql): send connection_init message during handshake
  melos.yaml
  packages/graphql/lib/src/links/websocket_link/websocket_client.dart
  packages/graphql/test/mock_server/ws_echo_server.dart
  packages/graphql/test/websocket_test.dart
Labels: dart client
